@font-face {
    font-family: 'SaveTheGalaxy';
    src: url('@/assets/fonts/SaveTheGalaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PackageBold';
    src: url('@/assets/fonts/PackageBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DynaFontGirlFontFullVersion';
    src: url('@/assets/fonts/DynaFontGirlFontFullVersion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CangErLittleCuteBody';
    src: url('@/assets/fonts/CangErLittleCuteBody.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThankYouForYourTenderness';
    src: url('@/assets/fonts/ThankYouForYourTenderness.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}